global:
  scrape_interval: 15s

scrape_configs:
  - job_name: traefik
    scrape_interval: 5s
    static_configs:
      - targets: ["traefik:8080"]

  - job_name: node-exporter
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: minecraft
    static_configs:
      - targets: ["minecraft-vz:25585"]
        labels:
          server: vz
