name: dns

on:
  push:
    branches:
      - "**"
      - "!renovate/**"
      - "renovate/lock-file-maintenance"

jobs:
  update-records:
    runs-on: ubuntu-latest
    environment: Production
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Update DNS Records
        env:
          CF_DNS_API_TOKEN: ${{ secrets.CF_DNS_API_TOKEN }}
        run: nix run .#scripts.deploy-dns -- --doit

  dry-run:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Dry Update DNS Records
        env:
          CF_DNS_API_TOKEN: ${{ secrets.CF_DNS_API_TOKEN_RO }}
        run: nix run .#scripts.deploy-dns
