name: dns

on:
  push:

jobs:
  update-records:
    runs-on: ubuntu-latest
    environment: Production
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@da36cb69b1c3247ad7a1f931ebfd954a1105ef14 # v14

      - name: Cache Nix Store
        uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b # v8

      - name: Update DNS Records
        run: nix run .#deploy-dns -- --doit

  dry-run:
    runs-on: ubuntu-latest
    environment: Dev
    if: github.ref != 'refs/heads/main'

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@da36cb69b1c3247ad7a1f931ebfd954a1105ef14 # v14

      - name: Cache Nix Store
        uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b # v8

      - name: Dry Update DNS Records
        run: nix run .#deploy-dns
