name: dns

on:
  push:

jobs:
  update-records:
    runs-on: ubuntu-latest
    environment: Production
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@21a544727d0c62386e78b4befe52d19ad12692e3 # v17

      - name: Cache Nix Store
        uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b # v8

      - name: Update DNS Records
        env:
          CF_DNS_API_TOKEN: ${{ secrets.CF_DNS_API_TOKEN }}
        run: nix run .#scripts.deploy-dns -- --doit

  dry-run:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@21a544727d0c62386e78b4befe52d19ad12692e3 # v17

      - name: Cache Nix Store
        uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b # v8

      - name: Dry Update DNS Records
        env:
          CF_DNS_API_TOKEN: ${{ secrets.CF_DNS_API_TOKEN_RO }}
        run: nix run .#scripts.deploy-dns
