name: dns

on:
  push:
    branches:
      - "**"
      - "!renovate/**"
      - "renovate/lock-file-maintenance"

jobs:
  update-records:
    runs-on: ubuntu-latest
    environment: Production
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c723f3a885e3f1d866d91f4f0c33dd44b1fc7c60 # v18

      - name: Update DNS Records
        env:
          CF_DNS_API_TOKEN: ${{ secrets.CF_DNS_API_TOKEN }}
        run: nix run .#scripts.deploy-dns -- --doit

  dry-run:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c723f3a885e3f1d866d91f4f0c33dd44b1fc7c60 # v18

      - name: Dry Update DNS Records
        env:
          CF_DNS_API_TOKEN: ${{ secrets.CF_DNS_API_TOKEN_RO }}
        run: nix run .#scripts.deploy-dns
